<app-header></app-header>
<main>
  <picture>
    <img src="/assets/images/contact-phone.jpg" alt="">
  </picture>
  <header>
    <h3>Esteremos encantados de asesorarle</h3>
    <h1>Contactenos!</h1>
  </header>
  <section class="section1">
    <ul>
      <li>
        <h3>Telefono</h3>
        <p>+34 XXX XX XX XX</p>
      </li>
      <li>
        <h3>Correo</h3>
        <p>example@ajam.com</p>
      </li>
    </ul>
    <section>
      <h3>Escribanos por whatsapp</h3>
      <img src="assets/icons/whatsapp.png" alt="icono para redirigir a whatsapp">
    </section>
  </section>
  <app-forms></app-forms>
</main>
<app-footer></app-footer>
