@import '/src/scss/variables';

.scroll{
  position: static;
  width: 300px;
  height: 350px;
  background: $color4;
  text-align: center;

  .header{
    margin:75px auto 25px auto;

    .title{
      text-align: center;
      justify-content: center;
    }
    .image{
      position: absolute;
      z-index: 5;
      top: -50px;
      left: 125px;
      width: 100px;
      height: 100px;
      margin: 0;
      img{
        width: 100%;
      }
    }
  }

  .content{
    margin: 35px auto;
  }
}
