@import "/src/scss/variables";

.scroll {
  width: 300px;
  height: 350px;
  background: $color4;
  text-align: center;

  .header {
    display: grid;
    margin: 65px auto 0 auto;
    min-height: 55px;
    .title {
      text-align: center;
      justify-content: center;
    }
    .image {
      position: absolute;
      z-index: 5;
      top: -50px;
      left: 125px;
      width: 100px;
      height: 100px;
      margin: 0;
      img {
        width: 100%;
      }
    }
  }

  .content {
    margin: 25px auto 0 auto;
    text-align: center;
  }
  .footer {
    margin-top: 35px;
  }
}

.default {
  max-width: 375px;
  width: 92%;
  height: 350px;
  margin: 0;

  .header {
    display: grid;
    grid-template-columns: 1fr 100px;
    margin-top: 15px;
    align-items: center;
    .image {
      width: 100px;
      height: 100px;
      margin: 0;
      img {
        width: 100%;
      }
    }
  }
  .content {
    width: 330px;
    height: 90px;
    margin: 30px auto 0 auto;
    justify-content: center;
  }
  .footer {
    display: grid;
    margin-top: 45px;
    justify-content: center;
  }
}
