@import "/src/scss/variables";

.scroll {
  width: 300px;
  height: 350px;
  background: $color4;
  text-align: center;

  .header {
    display: grid;
    margin: 65px auto 0 auto;
    min-height: 55px;
    .title {
      text-align: center;
      justify-content: center;
    }
    .image {
      position: absolute;
      z-index: 5;
      top: -50px;
      left: 125px;
      width: 100px;
      height: 100px;
      margin: 0;
      img {
        width: 100%;
      }
    }
  }

  .content {
    margin: 25px auto 0 auto;
    text-align: center;
  }
  .footer{
    margin-top: 35px;
  }
}

.default {
  width: 375px;
  height: 350px;

  .header {
    margin: 15px auto 0 auto;
    align-items: center;

    .image {
      width: 100px;
      height: 100px;
      margin: 0;
      img {
        width: 100%;
      }
    }
  }
  .content {
    margin: 30px 25px 0 25px;
    justify-content: center;
  }
  .footer{
    display: grid;
    margin-top: 45px;
    justify-content: center;
  }
}
