.title{
  display: grid;
  margin-top: 35px;
  text-align: center;
  justify-items: center;
  h1{
    max-width: 80%;
    margin-bottom: 40px;
  }
  h2{
    margin-bottom: 25px;
  }
  .buttom{
    margin-bottom: 85px;
  }
}
