@import "src/scss/variables";

footer{
  min-height: 500px;
  padding-top:25px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: $color1;
  color: $color3;
  .logo{
    margin: 0;
  }
  .description{
    width: 80%;
    margin-top: 20px;
  }
  .menu{
    display: grid;
    gap:10px;
  }
  .content{
    display: grid;
    margin-top: 20px;
  }
  .whatsapp{
    width: 60px;
    img{
      width: 100%;
    }
  }
  .time{
    margin-top: 45px;
    width: 100%;
  }
}

@media (min-width: 375px){
  footer{
    padding: 25px;
    padding-bottom: 25px;
  }
}
