<footer>
  <figure>
    <img src="/src/assets/logos/idsierra-ligth.png" alt="icono de Informática de la sierra">
    <img src="" alt="">
  </figure>
  <p></p>
  <div>
    <ul>
      <li>Contacto</li>
      <li>Servicios</li>
      <li>Tratamiento de datos</li>
      <li>Política de coockies</li>
      <li>Teléfono: XXX XX XX XX</li>
      <li>Email: xxxxx@xxxx.xx</li>
    </ul>
    <figure>
      <img src="assets/icons/whatsapp.png" alt="Whatsapp shortcut to send a message">
    </figure>
  </div>
  <p>Horarios</p>
  <p>9am - 22:00pm ininterrumpido con posibilidad de atención urgente fuera de horario</p>
</footer>
