<footer>
  <figure class="logo">
    <img src="assets/logos/idsierra-ligth.png" alt="icono de Informática de la sierra">
  </figure>
  <p class="description">Informática de la Sierra es una empresa lider ofreciendo servicios IT a toda la Sierra de
    Madrid para empresas,
    pymes y
    particulares</p>
  <div class="content">
    <ul class="menu">
      <li><a>Contacto</a></li>
      <li><a>Servicios</a></li>
      <li><a>Tratamiento de datos</a></li>
      <li><a>Política de coockies</a></li>
      <li><a>Teléfono: XXX XX XX XX</a></li>
      <li><a>Email: xxxxx@xxxx.xx</a></li>
    </ul>
    <figure class="whatsapp">
      <img src="assets/icons/whatsapp.png" alt="Whatsapp shortcut to send a message">
    </figure>
  </div>
  <div class="time">
    <p>Horarios</p>
    <p>9am - 22:00pm</p>
    <p>Ininterrumpido con posibilidad de atención urgente fuera de horario</p>
  </div>
</footer>
