.button{
  justify-content: center;
  border-radius: 5px;
  text-align: center;
  color: $color3;

  &:hover{
    border: 3px solid $color4;
    box-sizing: border-box;
  }

  &__phone{
    width: 270px;
    height: 40px;
  }
  &__tablet{
    width: 350px;
    height: 45px;
  }
  &--default{
    background: $color1;
  }
  &--pushed{
    background-color: $colo3;
  }
}
