html{font-size: 62.5%; height: 100vh;width: 100vw; color:$color2}
body { margin: 0; font-family: 'Nunito', sans-serif; }
a{text-decoration: none; color:$color3}
li{display:inline-flex;}
ul{list-style: none; padding: 0;}
