/* .header1{
  font: 9.6rem/13.1rem Nunito,sans-serif;
  letter-spacing: -1.5%;
}
.header2{
  font: 6rem/8.2rem Nunito,sans-serif;
  letter-spacing: -0.5%;
}

$header3: 4.8rem/6.5rem Nunito, sans-serif;
$header4: 3.4rem/4.6rem Nunito, sans-serif;
$header5: 2.4rem/3.3rem Nunito, sans-serif;
$header6: 600 2rem/2.3rem Nunito, sans-serif;
$subtitle: 1.6rem/2.2rem  Nunito, sans-serif;
 */
